@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

// Variables
$main-black: #000;
$main-white:#fff;
$main-yellow: #fac70b;
$main-pink: #fe4352;
$light-pink: #ffa8bf;
$breakpoint-tablet: 768px;


html {
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

::selection{
    background-color: $main-pink;
}
body{
    background:$main-black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.root-wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.button{
    background-color:$main-yellow;
    padding:20px 10px;
    color:$main-white;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0;
    font-weight: 700;
    color: var(--color);
    transition: 0.25s;
    
    &:hover,
    &:focus { 
        border-color: $main-black;
        color: $main-white;
        box-shadow: inset 12.5em 0 0 0 $main-black;
    }
}
.container{
    flex:1;
    margin:0 auto;
    padding: 0 20px;
    width:100%;
    max-width:950px;
    font-size: 18px;
    line-height: 1.4;

    h1, h2, h3, h4, h5{
        color:$main-white;
    }
    h1{
        font-size: 38px;
        text-transform: uppercase;
    }
    p{
        color:$main-white;
    }
}
.post-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-around;
    
    .post-card{
        background-color:$main-pink;
        margin-bottom: 50px;
        flex: 0 0 45%;
        a{
            text-decoration: none;
        }
        .post-card-content{
            padding: 20px;
            color:$main-white;
            h3{
                margin:0;
            }
            .post-card-meta{
                display: flex;
                flex-direction: row;
                p{
                    color:$light-pink;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 0;
                }
                p:first-child{
                    padding-right: 10px;
                }
            }
        }
    }
}
.header {
    background-color: $main-pink;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        align-items: center;
        li{
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;
            font-weight: 700;
            transition: 0.25s;
            &:hover{
                background-color: $main-yellow;
                a{
                    color:$main-white;
                }
            }
            a{
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    min-height: 80px;
    font-weight: 700;
    background: $main-yellow;
    color: $main-white;
}

@media (max-width: $breakpoint-tablet) {
    .post-card{
        flex: 0 0 100% !important;
    }
}